 {% extends 'store/base.htm' %}
 {% block title %}
 E-Com Home
 {% endblock title %}

 {% load cart %}
 {% block content %}

 {% load cart_tag %}


 
 




<!-- messages Handling -->

 <div class="text-center font-weight-bold p-4">

     {% if messages %}
     {% for message in messages %}
     <strong {% if message.tags %} class="alert alert-success" {% endif %}>{{message}}</strong>

     {% endfor %}
     {% endif %}

 </div>

<!-- End messages Handling -->


 <div class="row mt-5">

    <!-- Left Side Options Bar -->
     <div class="col-sm-3">
         <a href="/" class="list-group-item list-group-item-action ">All Products</a>
         {% for category in categories %}
         <div class="list-group">
             <a href="/?category={{category.id}}" class="list-group-item list-group-item-action ">{{category.name}}</a>

         </div>
         {% endfor %}

     </div>

     <!-- End of Left Side Options Bar -->

     <div class="col-sm-8 mt-0">
         <div class="row mx-auto">
             {% for product in products %}

             <div class="card mx-auto mt-3 pd-2" style="width: 15rem;">
                 <img src="{{product.image.url}}" class="card-img-top img-fluid " alt="...">
                 

                 <div class="card-body ">
                     <h5 class="card-title">{{product.name|capfirst}}</h5>

                     <p class="card-text"><b>{{product.price}}</b></p>
                     

                     <div class=" row p-0 ">
                         {% if product|is_in_cart:request.session.cart %}
                         {% for key,value in request.session.cart.items %}
                         {% if product|equal:key %}
                         <div class="btn-group pe-0" role="group">
                             <!-- Decrement Cart Item -->
                             <a href="{% url 'item_decrement' product.id %}"><input type="submit" value=" - "
                                     class="btn btn-secondary font-weight-bold"></a>

                             <a href="{% url 'cart_detail' %}"><input type="submit" value="{{value.quantity}} In Cart"
                                     class="text-center btn btn-secondary"> </a>

                             <!-- Increment Cart Item -->

                             <a href="{% url 'item_increment' product.id %}"><input type="submit" value=" + "
                                     class="btn btn-secondary"></a>


                         </div>


                         {% endif %}
                         {% endfor %}
                         {% else %}
                         <a href="{% url 'cart_add' product.id %}"><input type="submit" value="Add To Cart"
                                 class=" form-control float-right btn btn-info border font-weight-bold"></a>
                         {% endif %}
                     </div>

                 </div>

             </div>
             {% endfor %}

         </div>
     </div>


 </div>





 {% endblock content %}